-i https://pypi.org/simple
matplotlib>=3.2.2
tqdm>=4.62.3
numpy>=1.15.2
pandas>=0.24.2
pytest>=3.8.1
cython>=0.29.20
msmtools>=1.2.6
networkx>=2.4
gpmap>=0.7.0
setuptools>=58.3.0
pytz>=2021.3
cffi>=1.14.6
typing_extensions>=3.10.0.2
ipython>=7.28.0
zlib>=1.2.11
pygments>=2.10.0
scipy>=1.7.1
